---
title: Home
layout: default
---
{% assign events = site.data.timeline | sort: "date"  %}
{% assign day = "now" | date: "%Y-%m-%d %H:%M" %}

<h1>{{site.title}}</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Upcoming Events <a href="timeline.html" class="btn btn-sm btn-info ml-4 float-right">View Timeline</a></h2>
            </div>
            <div class="card-body">
                {% for event in events limit: 15 %}
                {% if event.date >= day %}
                {% unless event.status == "void" %}
                <div class="mb-4 border-bottom row">

                    <div class="col-8">
                        <h3><a target="_blank" href="{{event.link}}">{{event.title}}</a></h3>
                        <h4>DUE: {{event.date}}</h4>
                        <p>Project Lead: {{event.people}}<br> {%for person in site.data.people%}
                            {%if event.people contains person.p_id%}
                            <img class="col-2 rounded-circle" src='{{person.image}}' />
                            {%endif%} {%endfor%}
                    </div>
                    <div class="col-4 pt-2"><a class="btn {%if event.type == 'deadline' %}btn-warning{%elsif event.type == 'milestone' %}btn-success{%elsif event.type == 'conference'%}btn-info{%endif%}" href="timeline.html#{{event.date}}">{{event.type}}</a>
                    </div>
                </div>
                {% if forloop.last %}
                <p class="text-center">
                    <a class="btn btn-lg btn-info" href="timeline.html#{{event.date}}">View More Timeline Events</a></p>{%endif%}
                {% endunless %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <hr />

    </div>

    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h2>Recent Meetings</h2>
            </div>
            <div class="card-body">
                {% for post in site.posts limit: 2 %}
                <div class="ml-4">
                    <h3><a target="_blank" href="{{post.url | relative_url}}">{{ post.title }}</a></h3>
                    <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                </div>
                {% endfor %}
                <a class="btn btn-lg btn-info" href="meetings/">View All Meetings</a>
            </div>
        </div>
        <!--<div class="card">
<div class="card-header">
<h2>Agreement Status</h2>
</div>
<div class="card-body text-center">
{%capture agreement_test%}
{%for answer in site.data.starter_answers%}{{answer.text}}{%endfor%}
{%endcapture%}
{% if agreement_test.size <= 20 %}
<a class="btn btn-lg btn-success my-2" href="{{'agreement/start.html' | relative_url}}">Start Agreement</a>
{%elsif site.agreement-final == true%}
<a class="btn btn-lg btn-primary my-2" href="{{'agreement/final.html' | relative_url}}">View Finalized Agreement</a>

{%else%}

    <a class="btn btn-lg btn-warning my-2" href="{{'agreement/inprogress.html' | relative_url}}">Continue Agreement</a>
<br/>
<a href="{{'agreement/final.html' | relative_url}}">Print Version</a>
{%endif%}
</div>
</div>

<hr />-->
        <div class="card mt-2">
            <div class="card-header">
                <h2>People</h2>
            </div>
            <div class="card-body text-center">
                {% assign people = site.data.people | sort: "name" %}
                {% for person in people %}
                <img class="col-3 rounded-circle" src='{{person.image}}' />
                <p><a href="{{person.link}}">{{ person.name }}</a> | <a href="{{ person.email }}"><i class="fas fa-envelope"></i></a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>


</div>

<script>
        
            /* add item data */
            var items = { {% for event in events %} "event{{forloop.index}}" : { "type": "{{event.type}}", "date": "{{event.date}}", "title": "{{event.title}}", "location": "{{event.location}}", "link": "{{event.link}}", "priority": "{{event.priority}}", "people": "{{event.people}}"}{%unless forloop.last%},{%endunless%} 
            {%endfor%} };
            const dates = [{%for d in site.data.timeline%}
  '{{d.date}}'{%unless forloop.last%},{%endunless%}{%endfor%}
];

const now = new Date();

let closest = Infinity;

dates.forEach(function(d) {
   const date = new Date(d);

   if (date >= now && (date < new Date(closest) || date < closest)) {
      closest = d;
   }
});

console.log(closest);

            </script>